### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file = "purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_df = pd.read_csv(file)
purchase_df.head(5)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
player_count = len(purchase_df["SN"].unique())
player_count_table = pd.DataFrame({"Total Unique Players": [player_count]})
player_count_table

   Total Unique Players
0                   576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
total_revenue = purchase_df["Price"].sum()
number_of_purchases = purchase_df["Item ID"].count()
avg_price = total_revenue / number_of_purchases
number_unique_items = len(purchase_df["Item ID"].unique())

puerchase_analysis_df = pd.DataFrame({"Number of Unique": [number_unique_items],
                             "Average Price": [avg_price],#.astype(float).map("${:,.2f}".format), 
                             "Number of Purchases":[number_of_purchases],
                             "Total Revenue":[total_revenue]})#.astype(float).map("${:,.2f}".format)})
puerchase_analysis_df

   Number of Unique  Average Price  Number of Purchases  Total Revenue
0               183       3.050987                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
purchase_df.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

In [5]:
unique_players = purchase_df.drop_duplicates(["SN"], keep ="last")
gender_count = unique_players["Gender"].value_counts()
gender_perc = gender_count / player_count *100
gender_perc

#FIX
#unique_players.set_index("Gender", inplace=True)

gender_demog_df = pd.DataFrame({"Total Count": [gender_count],
                             "% of Players": [gender_perc]})
gender_demog_df

,Total Count,% of Players
0,Male 484 Female ...,Male 84.027778 Female ...


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
#unique_players

#Gender Purchase Count
gender_purchase_count = purchase_df.groupby(["Gender"]).count()["Price"]
#PRINT: Female = 113 / Male = 652 / Other / Non-Disclosed = 15

# Purchase Value by Gender
purchase_value_by_gender = purchase_df.groupby(["Gender"]).sum()["Price"]
# PRINT: Female = 361.94 / Male = 1967.64 / Other / Non-Disclosed = 50.19

#Average Purchase Value by Gender
average_value_per_gender = purchase_value_by_gender / gender_purchase_count
#PRINT: Female = 3.203009 / Male = 3.017853 / Other / Non-Disclosed = 3.346000

#Purchase Count	Average Purchase Price	Total Purchase Value	Avg Total Purchase per Person

average_value_per_person = purchase_value_by_gender / gender_count
#PRINT: Female = 4.468395 / Male = 4.065372 / Other / Non-Disclosed = 4.562727

#Purchasing Analysis Dataframe
gender_analysis_df = pd.DataFrame({"Purchase Count": gender_purchase_count, 
                            "Average Purchase Price": average_value_per_gender, 
                            "Total Purchase Value": purchase_value_by_gender,
                            "Total Average Purchase per Person": average_value_per_person})
gender_analysis_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Total Average Purchase per Person
Gender,,,,
Female,113,3.203009,361.94,4.468395
Male,652,3.017853,1967.64,4.065372
Other / Non-Disclosed,15,3.346000,50.19,4.562727

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [ ]:

age_demographics_totals = player_demographics["Age Ranges"].value_counts()
age_demographics_percents = age_demographics_totals / num_players * 100

age_demographics = pd.DataFrame({"Total Count": age_demographics_totals, "Percent of Players": age_demographics_percents})
age_demographics = age_demographics.sort_index()

In [14]:

# Create bins in which to place values based upon Age
age_bins = [0, 9.90, 14.90, 19.90, 24.9, 29.9, 34.90, 39.90, 9999999]

# Create labels for these bins
bin_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", ">40"]

In [29]:
purchase_df["Age Group"] = pd.cut(purchase_df["Age"], age_bins, labels=bin_labels)
purchase_df.head()

# Create a GroupBy object based upon "View Group"
age_group = purchase_df.groupby("Age Group")

# Find how many rows fall into each bin
age_count = (age_group["Age"].count())

# Get the average of each column within the GroupBy object
#age_count = age_group[["Age"]].mean()

#Total Count	Percentage of Players

age_analysis_df = pd.DataFrame({"Total Count": age_count, 
                            "Percentage of Players": average_value_per_gender})

age_analysis_df

ValueError: Shape of passed values is (2, 1), indices imply (2, 3)

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame